{% macro datos(name,placeholder,type='text') %} 
    <div class="mb-3">
        <label for="{{name}}" class="form-label">{{name}}</label>
        <input type="{{type}}" class="form-control" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}">
    </div>
{%endmacro%}

{% macro camposNuevosCinepolis(field) %} 
    <div class="mb-3">
        <label class="form-label text-white fw-bold">{{ field.label }}</label>
        {# Renderizamos el input con la clase form-control #}
        {{ field(class="form-control") }}
        
        {# Si el campo tiene errores, los recorremos #}
        {% if field.errors %}
            {% for error in field.errors %}
                <div style="color: #FF0000; font-weight: bold; margin-top: 5px; font-size: 1.1rem; display: flex; align-items: center;">
                    <span style="margin-right: 8px; font-size: 1.5rem; line-height: 0;">•</span> 
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro camposNuevos(field) %} 
<td>{{field.label}}</td>
<dd>{{field(**kwargs) | safe}}</dd>

{%if field.errors%}
<ul>
    {%for error in field.errors%}
    <li style="color: red">{{error}}</li>
    {%endfor%}
</ul>
{%endif%}

{%endmacro%}